.pageTitle
  padding: 0.5rem 2rem;
  display: inline-block
  vertical-align: middle

.pageSlogan
  display: inline-block
  vertical-align: middle

.navbar
  margin-top: 1rem
  display: inline-block
  float: right
  ul
    list-style-type: none
    li
      float: left
    a
      display: block
      text-align: center
      padding: 0 1rem

.signin, .signup
  border-radius: 5rem
  background-color: $theme-color
  padding: 0.1rem 1rem
  font-size: 1rem

