.web-nav-left
  background-color: $first-color
  overflow: hidden
  a
    border-bottom: 3px transparent solid
    color: $third-color
    display: block
    float: left
    padding: 1rem 2rem
    text-align: center
    text-decoration: none

.web-nav-right
  float: right

.dropdown
  float: left
  overflow: hidden
  .dropbtn
    background-color: inherit
    border: none
    border-bottom: 3px transparent solid
    color: $third-color
    padding: 1rem 2rem
  .dropdown-content
    background-color: $fifth-color
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
    display: none
    min-width: 180px
    position: absolute
    z-index: 1
    a
      background-color: $fifth-color
      border-left: 3px transparent solid
      color: $first-color
      display: block
      float: none
      padding: 1rem 2rem
      text-align: left
      text-decoration: none

.web-nav-left a, .dropdown .dropbtn, .dropdown-content a
  transition: 0.3s

.web-nav-left > a:hover, .web-nav-right a:hover, .dropdown:hover .dropbtn
  border-bottom: 3px $third-color solid
  background-color: $second-color
  color: $fourth-color

.dropdown-content a:hover
  background-color: $fourth-color
  border-left: 3px $third-color solid
  color: $third-color
  padding-left: 2.5rem

.dropdown:hover .dropdown-content
  display: block

.mobile-nav a
  display: none



/* RESPONSIVE */

@media screen and (max-width: 768px)
  .mobile-nav
    a
      background-color: $first-color
      border-bottom: 3px transparent solid
      color: $third-color
      display: block
      float: left
      padding: 1rem 2rem
      position: relative
      text-align: center
      transition: 0.3s
      width: 50%
      z-index: 2
    a:hover
      border-bottom: 3px $third-color solid
      background-color: $second-color
      color: $fourth-color

  .web-nav-left
    bottom: 0
    opacity: 0
    position: fixed
    transform: translate(0, -100%)
    top: 140px
    a, .dropdown, .dropbtn, .dropdown-content
      text-align: left
      width: 100%
    .dropdown
      position: relative
      .dropdown-content
        position: relative
      


  .web-nav-right
    display: none

  .web-nav-left.visible
    opacity: 1
    transform: translate(0, 0)
