.slider
  align-items: center
  background-color: $second-color
  display: flex
  overflow: hidden
  position: relative
  i
    font-size: 2rem

.slide
  height: 90%
  min-width: 100%
  overflow: hidden
  position: relative
  transition: 0.5s

.slide-1-titleOverlay
  +textOverlay($second-color, 3vw, 5vw, 7vw, 45vw)

.slide-1-textOverlay
  +textOverlay($first-color, 2.3vw, 5vw, 19vw, 40vw)

.slide-1-btnOverlay
  +buttonOverlay(15vw, 36vw, 17vw)

.slide-2-titleOverlay
  +textOverlay($second-color, 3vw, 5vw, 6vw, 46vw)

.slide-2-textOverlay
  +textOverlay($first-color, 2.3vw, 5vw, 18vw, 46vw)

.slide-2-btnOverlay
  +buttonOverlay(19vw, 30vw, 17vw)

.slide-3-titleOverlay
  +textOverlay($second-color, 3vw, 5vw, 8vw, 46vw)

.slide-3-textOverlay
  +textOverlay($first-color, 2.3vw, 5vw, 20vw, 46vw)

.slide-3-btnOverlay
  +buttonOverlay(17vw, 32vw, 17vw)

.slide-4-titleOverlay
  +textOverlay($second-color, 3vw, 5vw, 8vw, 46vw)

.slide-4-textOverlay
  +textOverlay($first-color, 2.3vw, 5vw, 24vw, 46vw)

.slide-4-btnOverlay
  +buttonOverlay(17vw, 35vw, 17vw)

.goLeft
  @extend %slider-button
  left: 0

.goRight
  @extend %slider-button
  right: 0
