.slider
  align-items: center
  background-color: $second-color
  display: flex
  overflow: hidden
  position: relative
  i
    font-size: 2rem

.slide
  height: 90%
  min-width: 100%
  overflow: hidden
  position: relative
  transition: 0.5s

.goLeft
  @extend %slider-button
  left: 0

.goRight
  @extend %slider-button
  right: 0
