#header
  background: $first-color
  border-bottom: 0.2rem $third-color solid
  display: grid
  grid-template-columns: 6fr 4fr
  padding: 0.25rem
  position: fixed
  width: 100%

@media screen and (max-width: 960px)
  #header
    grid-template-columns: 9fr 1fr
  
  .responsive
    grid-row: 1
    grid-template-rows: 1fr 9fr
