.footer > div
  flex: 1 1 0

.footer-tab
  padding: 0 16px
  h3
    padding: 16px 0
  p
    padding: 0 0 8px

.contact-social
  letter-spacing: 16px
  i
    font-size: 48px
    transition: $transition-time

.report-button
  border-radius: 8px
  cursor: pointer
  outline: none
  padding: 4px 16px
  transition: $transition-time






@media(max-width: 768px)
  .contact-social
    text-align: center
