*
  margin: 0
  padding: 0

body
  font-family: Arial, Helvetica, sans-serif
  line-height: 1.4
  background-color: $state-color

h1
  font-size: 1.8rem
  color: $module-color

p
  font-size: 0.8rem
  color: $state-color

a
  font-size: 1rem
  color: $module-color
  text-decoration: none
