#header
  margin: 32px 48px

#navbar, #slider
  width: 95%
  margin: auto

#slider
  height: 50vw

#login-form
  margin: 5% auto
  width: 50%

@media screen and (max-width: 768px)
  #header
    margin: 16px 24px

  #navbar, #slider
    width: 100%

  #slider
    height: 80vw

  #login-form
    margin: 25% auto
    width: 90%
