#header
  margin: 32px 48px

#navbar, #slider
  width: 95%
  margin: auto

#slider
  align-items: center
  display: flex
  height: 50vw
  overflow: hidden
  position: relative

#sign-form
  border-radius: 8px
  margin: 5% auto
  padding: 32px 24px
  width: 50%

#water-facts
  background-color: $dark-light-color
  display: grid
  grid-template-columns: 1fr 1fr
  margin: auto
  width: 95%

#footer
  align-items: stretch
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly
  margin-bottom: 56px
  padding: 16px 32px

#help
  bottom: 0
  position: fixed
  width: 100%

@media(max-width: $tablet-size)
  #header
    margin: 16px 24px

  #navbar, #slider
    width: 100%

  #slider
    height: 80vw

  #sign-form
    margin: 25% auto
    width: 90%

  #water-facts
    display: block
